
<div class="groupList">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand">My Passwords</div>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Options <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="javascript:void(0)" ng-click="addGroup()">New Group</a></li>
				<li class="divider">
							<li><a href="{{importExport.link}}" download="export.json.aes">Export Passwords</a></li>
							<li><a href on-file="importFile" file-link>Import Passwords</a></li>
				<li class="divider">
							<li><a href="javascript:void(0)" ng-click="clearAll()">Clear All</a></li>
						</ul>
					</li>
				</ul>
				<form class="navbar-form navbar-left goright" role="search">
				<select ng-init="filterGroup={name:''}" ng-model="filterGroup.name" class="form-control">
					<option value="">All</option>
					<option ng-repeat="group in passwordGroups">{{group.name}}</option>
				</select>
				<div class="form-group">
					<input ng-model="filterPassword" placeholder="Filter" class="form-control">
				</div>
				</form>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="sidebar">
	<ul class="list-group">
		<a class="list-group-item" ng-class="{active: filterGroup.name==''}" href ng-click="filterGroup.name=''">All Passwords</a>
		<a class="list-group-item" ng-repeat="group in passwordGroups" href ng-class="{active: filterGroup.name==group.name}" ng-click="filterGroup.name=group.name">{{group.name}}</a>
	</ul>
	</div>
	<div class="rightcontent">
		<div class="alert alert-success alert-dismissible" role="alert" ng-if="userDetails.newUser">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		Congratulations you are now set up, remember don't forget your passphrase.<br />Thank you for choosing Super Simple Password Manager
		</div>
			
			<password-group ng-repeat="group in passwordGroups | filter:filterGroup:filterGroup.name!='' | filter:filterPassword track by $index">

			</password-group>
	</div>
	<div class="clearfix"></div>
</div>
