<li class="passwordLayout">
	<div class="passwordStatic" ng-if="password!=selectedPassword && !password.dirty">
	<div class="btn-group pull-right">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			Action <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li><a href  ng-click="editPassword(password)">Edit</a></li>
			<li class="divider"></li>
			<li><a href  ng-click="movePasswordUp(group,password)">Move Up</a></li>
			<li><a href  ng-click="movePasswordDown(group,password)">Move Down</a></li>
			<li class="divider"></li>
			<li><a href  ng-click="deletePassword(group,password)">Delete</a></li>
		</ul>
	</div>
	<div class="favicon" style="background-image:url({{password.url | favicon}})"></div>
		<a href="http://{{password.url}}" class="title">{{password.site}}</a><br />
		<div class="row passwordDetails">
			<div class="col-lg-5">Username: <b><br>{{password.username}}</b></div>
			<div class="col-lg-5">Password: <b><br>{{password.password}}</b></div>
		</div>
	</div>
	<div class="passwordForm" ng-if="password==selectedPassword || password.dirty">
		<div class="feild">
			<input type="text" class="form-control" ng-model="password.site" placeholder="Site Name">
		</div>
		<div class="input-group feild">
			<span class="input-group-addon">http(s)://</span>
			<input type="text" class="form-control" ng-model="password.url" placeholder="url">
		</div>
		<div class="feild">
			<input type="text" class="form-control" ng-model="password.username" placeholder="username">
		</div>
		<div class="feild">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="password.password" placeholder="password">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="generatePassword(password)">Generate Password</button>
				</span>
			</div>
			<div ng-if="createPassword==password">
				<div class="row generateForm">
					<div class="col-lg-5">
						<select class="form-control" ng-model="generateDetails.type" ng-options="type for type in generateTypes">
						</select>
					</div>
					<div class="col-lg-2">
						<select class="form-control" ng-model="generateDetails.length" ng-options="number for number in [5,6,7,8,9,10,11,12,13,14,15,16,17]">
						</select>
					</div>
					<div class="col-lg-3">
						<a href class="btn btn-default" ng-click="randomPassword()">Create Password</a>
					</div>
					<div class="col-lg-2">
						<a href class="btn btn-default" ng-click="generateCancel()">Cancel</a>
					</div>
				</div>
			</div>
			<div class="progress">
				<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{password.password | PasswordStrength }}" aria-valuemin="0" aria-valuemax="100" style="width: {{password.password | PasswordStrength }}%">
					<span class="sr-only">{{password.password | PasswordStrength }}% Complete</span>
				</div>
			</div>
			
		</div>
		<a href ng-click="editPasswordDone(password)" class="btn btn-default">Done Editing</a>
	</div>
</li>